.cardContainer{
    width: 27% !important;
    margin: auto !important;
    height: auto !important;
    margin-bottom: 30px !important;
}

.cardContainer1{
    width: 30% !important;
    margin: auto !important;
    height: auto !important;
    margin-bottom: 30px !important;
}